

<div class="site-nav text-center">
  <%= link_to root_path do %>
    <%= image_tag 'banner.png', class: "img-fluid mt-4" %>
  <% end %>
  <%= link_to 'MENU', menu_path, class: 'site-nav-link' %>
  <%= link_to 'COMMUNITY', community_path, class: 'site-nav-link vert-divider-left' %>
  <%= link_to 'CATERING', catering_path, class: 'site-nav-link vert-divider-left' %>
  <%= link_to 'CONTACT', contact_path, class: 'site-nav-link vert-divider-left' %>
</div>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to "ATLAS PIZZA", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerLinks" aria-controls="navbarTogglerLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerLinks">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>