

<div class="site-nav text-center">
  <%= link_to root_path do %>
    <br>
    <%= image_tag image_path('banner.png'), class: "img-fluid" %>
  <% end %>
  <%= link_to 'MENU', menu_path, class: 'site-nav-link' %>
  <%= link_to 'COMMUNITY', community_path, class: 'site-nav-link vert-divider-left' %>
  <%= link_to 'CATERING', catering_path, class: 'site-nav-link vert-divider-left' %>
  <%= link_to 'CONTACT', contact_path, class: 'site-nav-link vert-divider-left site-nav-last-link' %>
</div>

<nav class="navbar-ap">
  <div class="navbar-container-ap">
    <div class="navbar-header-ap">
      <div class="navbar-brand-container">
        <%= link_to "ATLAS PIZZA", root_path, class: 'navbar-brand-link' %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerLinks" aria-controls="navbarTogglerLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse-ap" id="navbarTogglerLinks">
      <div class="nav-list-container">
        <ul class="navbar-nav-ap">
          <%# Only render a homepage link if not on the homepage %>
          <% unless current_page?(controller: 'pages', action: 'home') %>
            <li class="nav-item-ap">
              <%= link_to "Home Page", root_path, class: "nav-link-ap" %>
            </li>
          <% end %>
          <li class="nav-item-ap">
            <a class="nav-link-ap">ORDER ONLINE</a>
          </li>
          <li class="nav-item-ap">
            <%= link_to "Menu", menu_path, class: "nav-link-ap" %>
          </li>
          <li class="nav-item-ap">
            <%= link_to "Community", community_path, class: "nav-link-ap" %>
          </li>
          <li class="nav-item-ap">
            <%= link_to "Catering", catering_path, class: "nav-link-ap" %>
          </li>
          <li class="nav-item-ap">
            <%= link_to "Contact", contact_path, class: "nav-link-ap" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>