<div class="row">
  <div class="col-xs-12">
    <br>
    <%= image_tag "community/intro", class: "img-fluid w-100" %>
    <br><br>
    <div class="text-center">
      <a class="square-btn">SIGN UP FOR OUR NEWSLETTER</a>
    </div>
    <br>
    <%= image_tag "community/banner-pie-program", class: "img-fluid w-100" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-xl-2"></div>
  <div class="col-xs-12 col-lg-10 col-xl-8">
    <br>
    WE WANTED A WAY TO GIVE BACK, SO WE CAME UP WITH THE P.I.E. PROGRAM (PORTLAND INVESTS IN EDUCATION).
    WE DONATE 20% OF OUR PROFITS ON A CHOSEN EVENING TO A LOCAL SCHOOOL, FOR THEM TO USE IN WHATEVER WAY THEY NEED.
    PUBLIC SCHOOLS NEED ALL THE HELP THEY CAN GET, AND WE'RE HAPPY TO BE IN A POSITION TO GIVE BACK!
    IF YOU ARE AN EDUCATOR OR PARENT AND WOULD LIKE TO GET YOUR SCHOOL INVOLVED,
    PLEASE FILL OUT THE FORM BELOW.
    <br><br>
    <%# div class="form-container">

      <form id="contact-form" method="post" action="/contact-form.php" novalidate="true">

        <input type="hidden" name="formid" value="P.I.E. Program Submission">

        <div class="controls">

          <div class="form-group">
            <label for="name" class="control-label">YOUR FULL NAME</label>
            <input id="name" name="name" type="text" required="required" class="form-control">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="school" class="control-label">ASSOCIATED SCHOOL</label>
            <input id="school" name="school" type="text" required="required" class="form-control">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="phone" class="control-label">PHONE NUMBER</label>
            <input id="phone" name="phone" type="text" required="required" class="form-control">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label">EMAIL</label>
            <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required="required" class="form-control">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="control-label" for="nospam">Select the pie that has no toppings:</label>
            <select id="nospam" name="nospam" required="required" class="select form-control" aria-describedby="nospamHelpBlock">
              <option value="greenpepper">Green Pepper</option>
              <option value="mushroom">Mushroom</option>
              <option value="cheese">Cheese</option>
              <option value="pepperoni">Pepperoni</option>
            </select>
            <span id="nospamHelpBlock" class="help-block">(This is to prevent spam, which btw is not a topping at Atlas!)</span>
          </div>
          <div class="messages"></div>
          <div class="form-group">
            <input type="submit" class="btn btn-success disabled" value="SEND">
          </div>

        </div><!-- end controls -->

      </form>
    </div %>
  </div>
  <div class="col-lg-1 col-xl-2"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
    <%= image_tag "community/banner-monthly-craft-nights", class: "img-fluid w-100" %>
    <br><br>
    <%= link_to "https://collagepdx.blogspot.com/", target: "_blank" do %>
      <%= image_tag "community/collage", class: "img-fluid collage-img" %>
    <% end %>
    <br>
    WE'VE PARTNERED WITH LOCAL CRAFT STORE COLLAGE
    TO BRING MONTHLY CRAFT NIGHTS TO ALL OUR LOCATIONS.
    EVERY THIRD WEEK OF THE MONTH, COLLAGE'S TEAM BRINGS
    ALL THE SUPPLIES NEEDED TO CREATE A CRAFT OF THEIR CHOOSING.
    ALL SUPPLIES PROVIDED FREE, AND ALL AGES AND SKILL LEVELS WELCOME!
    <%= link_to "collagepdx.blogspot.com", "https://collagepdx.blogspot.com/", target: "_blank", class: 'collage-link' %>
    <br><br>
    <%= image_tag "community/banner-donations", class: "img-fluid w-100" %>
    <br><br>
    WE'RE ALWAYS LOOKING FOR GOOD CAUSES TO DONATE FOOD TO.
    WE'LL ADMIT, SOMETIMES THERE'S A LOT OF SLICES LEFT OVER AT THE END OF THE NIGHT!
    WE DONATE THIS TO WASTE NOT FOOD TAXI, A LOCAL ORGANIZATION THAT AIMS TO REDUCE FOOD WASTE, WHENEVER WE CAN.
    IF YOU HAVE A CAUSE OR ORGANIZATION THAT IS INTERESTED IN A DONATION OF ANY KIND,
    FEEL FREE TO EMAIL US AT <%# Email address missing on actual site %>.
  </div>
</div>