<div class="row">
  <div class="col-xs-12">
    <br>
    <%= image_tag image_path("community/intro"), class: "img-fluid w-100" %>
    <br><br>
    <div class="text-center">
      <a class="square-btn">SIGN UP FOR OUR NEWSLETTER</a>
    </div>
    <br>
    <%= image_tag image_path("community/banner-pie-program"), class: "img-fluid w-100" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-xl-2"></div>
  <div class="col-xs-12 col-lg-10 col-xl-8">
    <br>
    WE WANTED A WAY TO GIVE BACK, SO WE CAME UP WITH THE P.I.E. PROGRAM (PORTLAND INVESTS IN EDUCATION).
    WE DONATE 20% OF OUR PROFITS ON A CHOSEN EVENING TO A LOCAL SCHOOOL, FOR THEM TO USE IN WHATEVER WAY THEY NEED.
    PUBLIC SCHOOLS NEED ALL THE HELP THEY CAN GET, AND WE'RE HAPPY TO BE IN A POSITION TO GIVE BACK!
    IF YOU ARE AN EDUCATOR OR PARENT AND WOULD LIKE TO GET YOUR SCHOOL INVOLVED,
    PLEASE FILL OUT THE FORM BELOW.
    <br><br>
    <%= render 'pages/forms/community_form' %>
  </div>
  <div class="col-lg-1 col-xl-2"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
    <%= image_tag image_path("community/banner-monthly-craft-nights"), class: "img-fluid w-100" %>
    <br><br>
    <%= link_to "https://collagepdx.blogspot.com/", target: "_blank" do %>
      <%= image_tag image_path("community/collage"), class: "img-fluid collage-img" %>
    <% end %>
    <br>
    WE'VE PARTNERED WITH LOCAL CRAFT STORE COLLAGE
    TO BRING MONTHLY CRAFT NIGHTS TO ALL OUR LOCATIONS.
    EVERY THIRD WEEK OF THE MONTH, COLLAGE'S TEAM BRINGS
    ALL THE SUPPLIES NEEDED TO CREATE A CRAFT OF THEIR CHOOSING.
    ALL SUPPLIES PROVIDED FREE, AND ALL AGES AND SKILL LEVELS WELCOME!
    <%= link_to "collagepdx.blogspot.com", "https://collagepdx.blogspot.com/", target: "_blank"%>
    <br><br>
    <%= image_tag image_path("community/banner-donations"), class: "img-fluid w-100" %>
    <br><br>
    WE'RE ALWAYS LOOKING FOR GOOD CAUSES TO DONATE FOOD TO.
    WE'LL ADMIT, SOMETIMES THERE'S A LOT OF SLICES LEFT OVER AT THE END OF THE NIGHT!
    WE DONATE THIS TO WASTE NOT FOOD TAXI, A LOCAL ORGANIZATION THAT AIMS TO REDUCE FOOD WASTE, WHENEVER WE CAN.
    IF YOU HAVE A CAUSE OR ORGANIZATION THAT IS INTERESTED IN A DONATION OF ANY KIND,
    FEEL FREE TO EMAIL US AT <%# Email address missing on actual site %>.
  </div>
</div>