<div class="text-center">
  <br>

  <a class="square-btn">CALL 503-232-3004</a>
  <br><br>

  <a class="cursor-pointer">
    <%= image_tag image_path('contact/email-button'), class: "img-fluid contact-btn" %>
  </a>
  <div class="contact-btn-spacer"><br></div>

  <%= link_to "https://www.facebook.com/atlaspizzaportland/", target: "_blank" do %>
    <%= image_tag image_path('contact/contact-button-facebook'), class: "img-fluid contact-btn" %>
  <% end %>
  <div class="contact-btn-spacer"><br></div>

  <%= link_to "https://www.instagram.com/atlaspizzapdx/", target: "_blank" do %>
    <%= image_tag image_path('contact/contact-button-instagram'), class: "img-fluid contact-btn" %>
  <% end %>
  <div class="contact-btn-spacer"><br></div>

  <%= link_to "https://www.twitter.com/atlaspizzapdx/", target: "_blank" do %>
    <%= image_tag image_path('contact/contact-button-twitter'), class: "img-fluid contact-btn" %>
  <% end %>
  <br><br>

  <div class="text-center">
    <a class="square-btn">
      SIGN UP FOR OUR NEWSLETTER
    </a>
  </div>
  <br>

  <div class="location-header">
    3570 SE Division St, Portland, OR 97202
  </div>
  Daily 4-10pm
  <br>
  <%= image_tag image_path('contact/location-division'), class: "img-fluid" %>
  <br><br>

  <div class="location-header">
    710 N Killingsworth, Portland, OR 97217
  </div>
  Daily 4-10pm
  <br>
  <%= image_tag image_path('contact/location-killingsworth'), class: "img-fluid" %>
  <br><br>

  <div class="location-header">
    6529 SE Foster Rd, Portland, OR 97206
  </div>
  Daily 4-10pm
  <br>
  <%= image_tag image_path('contact/location-foster'), class: "img-fluid" %>
</div>