<% $TOPPINGS = ['Green Pepper', 'Mushroom', 'Cheese', 'Pepperoni'] %>

<div class="form-container">
  <form>
    <div class="form-group">
      <%= label_tag 'name', 'YOUR FULL NAME', class: 'form-label' %>
      <%= text_field_tag 'name', nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'school', 'ASSOCIATED SCHOOL', class: 'form-label' %>
      <%= text_field_tag 'school', nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'phone', 'PHONE NUMBER', class: 'form-label' %>
      <%= text_field_tag 'phone', nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'email', 'EMAIL', class: 'form-label' %>
      <%= text_field_tag 'email', nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'nospam', 'Select the pie that has no toppings:', class: 'form-label' %>
      <%= select_tag 'nospam', options_for_select($TOPPINGS), class: 'form-select form-control' %>
      <span id="nospamHelpBlock" class="help-block">(This is to prevent spam, which btw is not a topping at Atlas!)</span>
    </div>
    <div class="form-group">
      <a class="btn btn-success form-btn disabled">SEND</a>
    </div>
  </form>
</div>